body {
	background-image: url(BakgrundProjekt1.jpg);
}
main {
	
	margin: 0 auto;
	text-align: center;
	width:80%;	
}

li {
	display: inline;
	font-size: 2em;
	text-align: center; 
}
li a:hover {
    background-color: purple;
    color: white;
    }


a {
	color: yellow;
	background-color: magenta;
    padding: 1.5% 2.05%;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    width: 20.5%;

}
nav ul{
	background-color: purple;
	list-style: none;
	padding-left: 0px;
	

} /*
	text-align: center;
	padding: 15px;
*/
h1 {
	font-size: 3em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}
.Rubrik {
	font-family: 'fascinate inline', sans-serif;
	color:white;

}
.Underrubrik {
	font-family: 'fascinate inline';
}
.column1 {
	float: left;
	width:58%;
	padding: 1%;
	border: 1px solid black;
	min-height: 500px;
}
.column2 {
	margin-left: 60%;
	width: 38%;
	padding: 1%;
	border: 1px solid black;
	min-height: 500px;
}
.row {
	content: "";
	display: table;
	clear: both;
	margin: auto;
	width: 100%;
	background-color: white;

}
