main {
	width: 80%;
	margin:0 auto;
}
li {
	margin: 0 auto;
	width: 20%;
	float: left;
}
nav ul li {
	font-size: 32px;
	display: inline;
	text-align: center;
}
nav ul{
	background-color: grey;
	padding-bottom: 65px;
}
h1 {
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	color: darkblue;
	margin: 50px;
}
a {
	color: hotpink;
	background-color: lightgrey;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    
}