
main {
	
	margin: 0 auto;
	background-color: lightgreen;
	text-align: center;
	width:80%;	
}

li {
	display: inline;
	font-size: 2em;
	text-align: center; 
}
li a:hover {
    background-color: #555;
    color: white;
    }


a {
	color: yellow;
	background-color: magenta;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    width: 20.5%;

}
nav ul{
	background-color: purple;
	list-style: none;
	padding-left: 0px;
	

} /*
	text-align: center;
	padding: 15px;
*/
h1 {
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	color: darkblue;
	padding-bottom: 1em;
	padding-top: 1em;
}
.rubrik {
	background-color: lightblue;



}
.column1 {
	float: left;
	width:60%;
	padding: 15px;
	border: 1px solid black;
	min-height: 400px;
}
.column2 {
	margin-left: 60%
	width: 34%;
	padding: 15px;
	border: 1px solid black;
	min-height: 400px;
}
.row {
	content: "";
	display: table;
	clear: both;
	margin: auto;
	width: 100%;

}
